- @title = "Page Not Found - Danny Smith"
#wrapper
  %h1 Not Found - 404
  %h2
    %a{:href => "/"} Go Back to the home page
  
  %p TODO: Add Bil 'ol link back to main site.
  %p TODO: Add Sitemap of Site if there end up being more than one page.
  %p TODO: Add Search Box for Tumblr Site if possible. :)