- @title = "Danny Smith - Training, Music & Design in Brighton"

#wrapper
  #footer
  %p.small
    Design &copy;
    %a{:href => "http://dasmith.co.uk"} Danny Smith
    = Date.today.year.to_s + "."
    Content by 
    <a href="http://dasmith.co.uk">Danny Smith</a> licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-sa/2.0/uk/"> Creative Commons Attribution-Share Alike 2.0 UK: England &amp; Wales License</a>.
